{% load static %}
<script defer src="{% static 'profile_page/js/navbar.js' %}"></script>
<link rel="stylesheet" href="{% static 'profile_page/css/navbar.css' %}">

<!-- Navbar starts from here -->
<nav class="nbar">
    <div class="d-flex">
        <div class="my-auto mx-2">
            <button id="toggle-sidebar" class="fas fa-bars my-auto" style="color: var(--theme2);font-size: x-large;"></button>
        </div>
        <div class="container d-flex">
            <div class="header-container d-flex">
                <div class="nav-header my-auto">
                    <a href="/"><img src="{% static 'profile_page/images/logos/color/f_logo_RGB-Blue_58.png' %}" alt=" " class="py-1" style="height:52px;"></a>
                </div>
                <div class="search-container my-auto mx-2 w-50">
                    <input type="search" class="form-control" placeholder="Search" style="border-radius: 17px!important;background-color: #f2f3f5!important;">
                </div>
            </div>
            <div class="d-flex nav-options-container">
                <div class="my-auto mx-2">
                    <a href="/friends/" class="fas fa-user-friends alternates" name="Your friends"></a>
                </div>
                <div class="my-auto mx-2">
                    <a href="/notifications/" class="fas fa-bell" name="Notifications"></a>
                </div>
                <div class="my-auto mx-2 nav-user-photo">
                    {% if profile.avatar != '' %}
                    <img src="/media/{{profile.avatar}}" alt=" " style="width: 40px;height:40px;border-radius: 100%;cursor: pointer;" class="my-auto profile-page-link">
                    {% else %}
                    <img src="{% static 'profile_page/images/default_avatar.jpg' %}" alt=" " style="width: 40px;height:40px;border-radius: 100%;cursor: pointer;" class="my-auto profile-page-link">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="account-info-dropdown px-3 py-3" style="display: none;">
        <div class="account-info-fluid">

            <div class="my-auto mx-2 nav-account-img px-5 py-2 text-center">
                {% if profile.avatar != '' %}
                <img src="/media/{{profile.avatar}}" alt=" ">
                {% else %}
                <img src="{% static 'profile_page/images/default_avatar.jpg' %}" alt=" ">
                {% endif %}
            </div>
            <div class="mt-2 text-center account-info-name px-5">
                <span class="d-block">{{profile.user.first_name}}</span>
                <span class="d-block">{{profile.user.username}}</span>
            </div>
            <div class="account-info-ops px-4 py-3">
                <a href="/{{profile.user.username}}/" class="w-100 btn button-green mb-2">Your Profile</a>
                <a href="/settings/" class="w-100 btn mb-2 btn border-btn-blue fw-bold">Settings</a>
                <a href="/sign-out/" class="w-100 btn button-blue">Sign Out</a>
            </div>

        </div>

    </div>
</nav>